@charset "utf-8";
@import "normalize";

$large-screen-margin: 20px;
$small-screen: "(max-width: 500px)";
$large-screen: "(min-width: 500px)";

h1 {
  color: rgba(0,0,0,0.5);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  font-weight: 200;
}

h2 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
}

.homepage {
  background-image: radial-gradient(ellipse farthest-corner at 50% 50%, #D3B698 10%, #709CBA 30%, #D3B698);

  background-position: center;
  background-size: contain;

  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
}

.homepage > div {
  flex: 1;
  min-width: 500px;

  @media #{$large-screen} {
    margin-top: $large-screen-margin;
    margin-bottom: $large-screen-margin;
  }
}

.about-me {
  background:
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.1)
      ), url(/images/hill_outline.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;

  @media #{$small-screen} {
    min-height: 100%;
  }
  @media #{$large-screen} {
    margin-left: $large-screen-margin;
  }
}

.about-me > h1, h2 {
  text-shadow: 0 0.5px 0 black;
}

.about-me > h1 {
  @media #{$large-screen} {
    margin-top: 100px;
  }
  color: white;
}

.about-me > h2 {
  color: white;
}

.resources {
  background-color: #FFFFFF;

  display: flex;
  flex-flow: column;

  @media #{$large-screen} {
    margin-right: $large-screen-margin;
  }
}

.resources > div {
  flex: 1;
  margin-top: 50px;
}

.resource-links {
  text-align: center;
  a {
    text-decoration: none;
    color: black;
  }
}
