@charset "utf-8";
@import "normalize";

.homepage {
  background-image: url(/images/hill_outline.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
}

.homepage > div {
  flex: 1;
  margin-top: 60px;
  margin-bottom: 60px;
}

.about-me {
  background-image: url(/images/hill_outline.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-left: 60px;
  text-align: center;
}

.about-me > h1 {
  color: white;
}

.about-me > h2 {
  color: white;
  font-size: 1em;
}

.otherstuff {
  background-color: #FFFFFF;

  margin-right: 60px;
}

h1 {
  color: rgba(0,0,0,0.5);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

.doc {
  margin: 3em 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;

  a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.75em 0.7em;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
      background: rgba(0,0,0,0.2);
      color: white;
      transition: all 0.15s linear;
    }
  }
}
