---
title: Gedward
---

<div class="homepage">
  <div class="about-me">
    <h1>Gedward Gonzalez</h1>
    <h2>Developer, designer, lover of pizza</h2>
  </div>
  <div class="otherstuff">
    <h1>And here is other things</h1>
  </div>
</div>
